<table class="statusTable">
    <tr>
        <th>Status</th>
        <td>{{PrinterStatus}}</td>
    </tr>

    <tr>
        <th>MoveMode</th>
        <td>{{MoveMode}}</td>
    </tr>

    <tr>
        <th>Version</th>
        <td>{{FirmwareVersion}}</td>
    </tr>

    <tr>
        <th>Serial Number</th>
        <td>{{SerialNumber}}</td>
    </tr>

    <tr>
        <th>Model</th>
        <td>{{PrinterName}}</td>
    </tr>

    <tr>
        <th>Build Volume</th>
        <td>{{BuildVolume}}</td>
    </tr>

    <tr>
        <th>Endstop</th>
        <td>{{Endstop}}</td>
    </tr>

    <tr>
        <th>Extruder temperature</th>
        <td>{{Tool0Temp}}°C / {{Tool0TargetTemp}}°C</td>
    </tr>

    <tr>
        <th>Build plate temperature</th>
        <td>{{BuildPlateTemp}}°C / {{BuildPlateTargetTemp}}°C</td>
    </tr>

    <tr>
        <th>Camera</th>

        <td>
            <div *ngIf="CameraStateLoaded">
                <div *ngIf="CameraAvailable; then cameraAvailableBlock else cameraNotAvailableBlock"></div>
                <ng-template #cameraAvailableBlock>
                    <a class="accentColor" [routerLink]="'/camera'">View feed</a>
                </ng-template>

                <ng-template #cameraNotAvailableBlock>
                    Not Available (<a class="accentColor" target="_blank" href='https://github.com/andycb/AdventurerClientJS/wiki/Using-The-Printer-Camera'>Help</a>)
                </ng-template>
            </div>
        </td>
    </tr>

    <tr>
        <th>Control</th>
        <td class="controlButtons">
            <div class="button-row">
                <div *ngIf="PrintStateLoaded">
                    <div *ngIf="PrintPaused; then printPausedBlock else printRunningBlock"></div>
                    <ng-template #printPausedBlock>
                        <button disabled={{!IsPrinting}} (click)="ResumePrinting()">
                            <mat-icon aria-label="Resume Print">play_arrow</mat-icon>
                        </button>
                    </ng-template>

                    <ng-template #printRunningBlock>
                        <button disabled={{!IsPrinting}} mat-stroked-button (click)="PausePrinting()">
                            <mat-icon aria-label="Pause Print">pause</mat-icon>
                        </button>
                    </ng-template>
                </div>
                <button disabled={{!IsPrinting}} mat-stroked-button (click)="OpenStopPrintingDialog()">
                    <mat-icon aria-label="Stop Print">stop</mat-icon>
                </button>
            </div>
        </td>
    </tr>

    <tr>
        <th></th>
        <td>
            <a mat-stroked-button (click)="Disconnect()">Disconnect</a>
        </td>
    </tr>
</table>