<table class="statusTable">
    <tr>
        <th>Status</th>
        <td>{{PrinterStatus}}</td>
    </tr>

    <tr>
        <th>Version</th>
        <td>{{FirmwareVersion}}</td>
    </tr>

    <tr>
        <th>Serial Number</th>
        <td>{{SerialNumber}}</td>
    </tr>

    <tr>
        <th>Model</th>
        <td>{{PrinterName}}</td>
    </tr>

    <tr>
        <th>Build Volume</th>
        <td>{{BuildVolume}}</td>
    </tr>

    <tr>
        <th>Endstop</th>
        <td>{{Endstop}}</td>
    </tr>

    <tr>
        <th>Extruder temperature</th>
        <td>{{Tool0Temp}}</td>
    </tr>

    <tr>
        <th>Build plate temperature</th>
        <td>{{BuildPlateTemp}}</td>
    </tr>

    <tr>
        <th>Camera</th>

        <div *ngIf="CameraAvailable; then cameraAvailableBlock else cameraNotAvailableBlock"></div>
        <ng-template #cameraAvailableBlock>
            <td><a [routerLink]="'/camera'">View feed</a></td>
        </ng-template>

        <ng-template #cameraNotAvailableBlock>
            <td>Not Available (<a class="accentColor" target="_blank" href='https://github.com/andycb/AdventurerClientJS/wiki/Using-The-Printer-Camera'>Help</a>)</td>
        </ng-template>
    </tr>

    <tr>
        <th></th>
        <td>
            <a mat-stroked-button (click)="Disconnect()">Disconnect</a> 
        </td>
    </tr>
</table>
