.statusTable {
    display: inline-block;
    margin: 20px;
}

.statusTable th {
    text-align: right;
    padding: 5px;
    width: 50%;
}

.statusTable td {
    text-align: left;
    padding: 5px;
    width: 50%;
}

.button-row {
    display: flex;
    align-items: left;
}

.button-row button {
    margin-right: 5px;
    width: 36px;
}