<p>
    <span>Status: </span>
    <span>{{PrinterStatus}}</span>
    
    <br>
    <span>Version: </span>
    <span>{{FirmwareVersion}}</span>

    <br>
    <span>Serial Number: </span>
    <span>{{SerialNumber}}</span>

    <br>
    <span>Model: </span>
    <span>{{PrinterName}}</span>

    <br>
    <span>Build Volume: </span>
    <span>{{BuildVolumeX}}</span>
    <span>,</span>
    <span>{{BuildVolumeY}}</span>
    <span>,</span>
    <span>{{BuildVolumeZ}}</span>

    <br>
    <span>Endstop: </span>
    <span>{{EndstopX}}</span>
    <span>,</span>
    <span>{{EndstopY}}</span>
    <span>,</span>
    <span>{{EndstopZ}}</span>

    <br>
    <span>Tool Temp: </span>
    <span>{{Tool0Temp}}C</span>

    <br>
    <span>Build Plate Temp: </span>
    <span>{{BuildPlateTemp}}C</span>