@media (prefers-color-scheme: dark) {
    .loginForm {
        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
    }
}

.loginForm {
    padding: 20px;
    margin: 20px;
    overflow-y: scroll;
    overflow: hidden; 

    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
}

.loginForm input{
    margin-top: 10px;
    display: inline-block;
}

.loginForm .instructions {
    font-size: 95%;
    font-weight: lighter;
}

.loginForm .error {
    font-size: 95%;
    font-weight: lighter;
    display: block;
    margin-top: 10px;
}