.debugControls{
    margin: 20px;
}

.enableCheckbox{
    margin-top: 10px;
}

.instructions {
    font-weight: lighter;
}

.response {
    font-size: 90%;
    font-family: 'Courier New', Courier, monospace;
    background: #ccc;
    padding: 20px;
    margin: 20px;
    overflow: scroll;
    text-align: left;
}

.response ul {
    list-style-type: none;
}